<header class="header">
  <div class="header-inner">
    <div class="header-logo">
      <a href="/"><img src="../../../assets/logo.png" alt="CoviTrack"></a>
    </div>
    <div class="header-button js-menu" (click)="jsmenu($event)" id="jstoggle"> <i class="fa fa-bars"></i></div>
    <div class="nav-menu">
      <ul>
        <li><a [routerLink]="['/India']"  [routerLinkActive]="['selection_active']"><span>India</span></a></li>
        <li><a [routerLink]="['/WorldWide']" [routerLinkActive]="['selection_active']"><span>World Wide</span></a></li>
        <li><a [routerLink]="['/Cowin']"  [routerLinkActive]="['selection_active']"><span>Cowin</span></a></li>
        <li><a [routerLink]="['/About']"  [routerLinkActive]="['selection_active']"><span>About</span></a></li>
      </ul>
    </div>
  </div>
  <nav>
    <ul class="header-menu" id="jsmenu">
      <div class="menu-arrow"></div>
      <li><a [routerLink]="['/India']"  [routerLinkActive]="['selection_active']"><span>India</span></a></li>
      <li><a [routerLink]="['/WorldWide']" [routerLinkActive]="['selection_active']"><span>World Wide</span></a></li>
      <li><a [routerLink]="['/Cowin']"  [routerLinkActive]="['selection_active']"><span>Cowin</span></a></li>
      <li><a [routerLink]="['/About']"  [routerLinkActive]="['selection_active']"><span>About</span></a></li>
    </ul>
  </nav>
  
</header>
