<div class="spinner" *ngIf="loaded==true">
  <div class="loc-issue">
    Please wait!<br><br>
    ( NB: Users outside India cannot access cowin portal! )
  </div>
  <!-- <div class="loader loader-7">
    <div class="line line1"></div>
    <div class="line line2"></div>
    <div class="line line3"></div>
  </div> -->
</div>
<div class="dashboard">
  <ng-scrollbar id="cowin">
    <section class="dash-section">
      <div class="row">
        <div class="col-12 cowin">
          <div class="row justify-content-center">
            <div class="col-md-6 col-sm-12">
              <div class="contnt-section">
                <div class="slot-check">
                  <div class="row">
                    <div class=" col-12 slot-check-title text-center">CoWin Portal</div>
                  </div>

                  <div class="row text-center search-tab justify-content-center">
                    <ul class="nav justify-content-center" id="myTab" role="tablist">
                      <li class="nav-item col-6">
                        <a (click)="ByDisClick()" class="nav-link active" id="dist-tab" data-toggle="tab" href="#dist" role="tab" aria-controls="dist" aria-selected="false">By District</a>
                      </li>
                      <li class="nav-item col-6">
                        <a (click)="ByPinClick()" class="nav-link" id="st-tab" data-toggle="tab" href="#st" role="tab" aria-controls="st" aria-selected="false">By Pin</a>
                      </li>
                    </ul>
                  </div>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="dist" role="tabpanel" aria-labelledby="dist-tab">
                      <form [formGroup]="byDis">
                        <div class="row">
                          <div class="col-6 text-center st-sel">
                            <div class="select" id="st-select">
                              <select (change)="stSelect($event)" formControlName="state">
                                <option value="0" hidden>State</option>
                                <option *ngFor="let st of states" value="{{st.state_id}}">{{st.state_name}}</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-6 text-center dt-sel">
                            <div class="select" id="dt-select">
                              <select (change)="dtSelect($event)" formControlName="dist">
                                <option value="0" hidden>District</option>
                                <option *ngFor="let dt of districts" value="{{dt.district_id}}">{{dt.district_name}}
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="tab-pane fade search-pin" id="st" role="tabpanel" aria-labelledby="st-tab">
                      <form [formGroup]="byPin" #myform="ngForm" (ngSubmit)="getSlotdatabyPin(myform)">
                        <div class="row">
                          <div class="col-6 pin-code">
                            <input type="text" formControlName="pin" placeholder="Pincode" class="form-control">
                           
                          </div>
                          <div class="col-6">
                            <button type="submit" class="btn btn-primary text-center">Search</button>
                          </div>
                          <div class="text-danger pl-2" *ngIf="byPin.controls['pin'].invalid && (byPin.controls['pin'].touched || submitted)">
                            Invalid PIN
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 welcome-info" *ngIf="welcomeinfo">
                      <div class="row vacc-gif">
                        <img src="../../../assets/vacc.gif" alt="">
                      </div>
                      <div class="row">
                        <div class="col-12 text-center">
                          Please select a district or enter a pin to check slot availability!
                        </div>
                      </div>
                    </div>
                    <div class="col-12 not-found" *ngIf="centerCount==0 && !welcomeinfo">
                      <div class="row vacc-gif">
                        <img src="../../../assets/search.gif" alt="">
                      </div>
                      <div class="row">
                        <div class="col-12 text-center">
                          No vaccination centers available for this location at the moment!
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row search-results" *ngIf="centerCount!=0">
                    <div class="col-12 ml-2 mb-2">
                      Available centers: {{centerCount}}
                    </div>
                    <div class="col-12">
                      <div id="accordion">
                        
                        <div class="card" *ngFor="let cntr of centers;let i = index" >
                          <button (click)="findSessions(cntr.center_id)" class="card-header" id="headingTwo{{i}}" data-toggle="collapse" attr.data-target="#collapseTwo{{i}}" aria-expanded="false" attr.aria-controls="collapseTwo{{i}}">
                            <h6 class="mb-0 row"> 
                                <div class="col-12 acc-title-name">
                                  {{cntr.name}} 
                                  <div class="badge green float-right" *ngIf="availability(cntr.center_id)!=0">{{availability(cntr.center_id)}}</div>
                                  <div class="badge red float-right" *ngIf="availability(cntr.center_id)==0">0</div>
                                </div>
                              </h6>
                            </button>
                          <div id="collapseTwo{{i}}" class="collapse" attr.aria-labelledby="headingTwo{{i}}" data-parent="#accordion">
                            <div class="card-body">
                              <div class="row center-info">
                                <div class="col-12 text-center center-name">
                                  {{cntr.name}}
                                </div>
                              </div>
                              <div class="row center-info">
                                <div class="col-12 text-center center-addr">
                                  {{cntr.address}}, PIN: {{cntr.pincode}}
                                </div>
                              </div>
                              <div *ngFor="let sns of sessions; let j = index" class="vacc-sessions">
                                <div class="row day-table">
                                  <div class="col-12">
                                    <table>
                                      <tbody>
                                        <tr>
                                          <td data-label="Date">{{sns.date}}</td>
                                          <td data-label="Vaccine">{{sns.vaccine}}</td>
                                          <td data-label="Slots">{{sns.available_capacity}}</td>
                                          <td data-label="Dose 1">{{sns.available_capacity_dose1}}</td>
                                          <td data-label="Dose 2">{{sns.available_capacity_dose2}}</td>
                                          <td data-label="Age Group">{{findAgeGroup(sns.min_age_limit)}}</td>
                                          <td data-label="Fee type">{{cntr.fee_type}}</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                             </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <!-- <div class="col-md-6 col-sm-6 cowin-dashboard">
              <div class="row">
                <div class="col-12 text-center slot-check-title">
                  &nbsp;
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="world-widget">
                    <div class="icon gradient-13">
                      <i class="fa fa-map"></i>
                    </div>
                    <div>
                      <h5>State</h5>
                      <h2 id="total_cases">www</h2>
                    </div>
                  </div>
                  <div class="world-widget">
                    <div class="icon gradient-13">
                      <i class="fa fa-map"></i>
                    </div>
                    <div>
                      <h5>State</h5>
                      <h2 id="total_cases">www</h2>
                    </div>
                  </div>
                  <div class="world-widget">
                    <div class="icon gradient-13">
                      <i class="fa fa-map"></i>
                    </div>
                    <div>
                      <h5>State</h5>
                      <h2 id="total_cases">www</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </section>
  </ng-scrollbar>
</div>
