/* You can add global styles to this file, and also import other style files */

/* #393e46 */

html,
body {
  margin: 0;
  box-sizing: border-box;
  background-color: #222831 !important;
}

.dashboard {
  height: calc(100vh - 65px);
  margin-top: 65px;
  color: white;
}

.dash-section {
  padding: 10px 4% 10px 4%;
}


.lastupdate {
  padding-top: 10px;
  padding-bottom: 10px;
}

.lastupdate span {
  color: rgb(0, 161, 0);
  font-weight: bold;
  /* font-style: italic; */
}

.gradient-1 {
  background: #3398fb;
  background: -moz-linear-gradient(left, #3398fb 0%, #8553ee 100%);
  background: -webkit-linear-gradient(left, #3398fb 0%, #8553ee 100%);
  background: linear-gradient(to right, #3398fb 0%, #8553ee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3398fb', endColorstr='#8553ee', GradientType=1);
}

.gradient-2 {
  background: #36e1b4;
  background: -moz-linear-gradient(left, #36e1b4 0%, #11cae7 100%);
  background: -webkit-linear-gradient(left, #36e1b4 0%, #11cae7 100%);
  background: linear-gradient(to right, #36e1b4 0%, #11cae7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#36e1b4', endColorstr='#11cae7', GradientType=1);
}

.gradient-3 {
  background: #ffbf31;
  background: -moz-linear-gradient(left, #ffbf31 0%, #ff890e 100%);
  background: -webkit-linear-gradient(left, #ffbf31 0%, #ff890e 100%);
  background: linear-gradient(to right, #ffbf31 0%, #ff890e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbf31', endColorstr='#ff890e', GradientType=1);
}

.gradient-4 {
  background: #23bdb8;
  background: -moz-linear-gradient(-45deg, #23bdb8 0%, #43e794 100%);
  background: -webkit-linear-gradient(-45deg, #23bdb8 0%, #43e794 100%);
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#23bdb8', endColorstr='#43e794', GradientType=1);
}

.gradient-5 {
  background: #9a56ff;
  background: -moz-linear-gradient(-45deg, #9a56ff 0%, #e36cd9 100%);
  background: -webkit-linear-gradient(-45deg, #9a56ff 0%, #e36cd9 100%);
  background: linear-gradient(135deg, #9a56ff 0%, #e36cd9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9a56ff', endColorstr='#e36cd9', GradientType=1);
}

.gradient-6 {
  background: #f48665;
  background: -moz-linear-gradient(-45deg, #f48665 0%, #fda23f 100%);
  background: -webkit-linear-gradient(-45deg, #f48665 0%, #fda23f 100%);
  background: linear-gradient(135deg, #f48665 0%, #fda23f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f48665', endColorstr='#fda23f', GradientType=1);
}

.gradient-7 {
  background: #e36cd9;
  background: -moz-linear-gradient(-45deg, #e36cd9 0%, #fe60ae 100%);
  background: -webkit-linear-gradient(-45deg, #e36cd9 0%, #fe60ae 100%);
  background: linear-gradient(135deg, #e36cd9 0%, #fe60ae 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e36cd9', endColorstr='#fe60ae', GradientType=1);
}

.gradient-8 {
  background: #a15cff;
  background: -moz-linear-gradient(left, #a15cff 0%, #ce82fd 100%);
  background: -webkit-linear-gradient(left, #a15cff 0%, #ce82fd 100%);
  background: linear-gradient(to right, #a15cff 0%, #ce82fd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a15cff', endColorstr='#ce82fd', GradientType=1);
}

.gradient-9 {
  background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}

.gradient-10 {
  background: linear-gradient(87deg, #11cdef 0, #1171ef 100%) !important;
}

.gradient-11 {
  background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%) !important;
}

.gradient-12 {
  background: linear-gradient(87deg, #942c14 0, #e60c0c 100%) !important;
}

.gradient-13 {
  background: #000428;
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  background: linear-gradient(to right, #004e92, #000428);
}

.gradient-14 {
  background: #DA4453;
  background: -webkit-linear-gradient(to right, #89216B, #DA4453);
  background: linear-gradient(to right, #89216B, #DA4453);
}

.gradient-15 {
  background: #8E2DE2;
  background: -webkit-linear-gradient(to left, #4A00E0, #8E2DE2);
  background: linear-gradient(to left, #4A00E0, #8E2DE2);
}

.gradient-16 {
  background: #11998e;
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
  background: linear-gradient(to right, #38ef7d, #11998e);
}


.world-chart {
  margin-bottom: 30px;
}

.world-widget {
  background-color: #393e46;
  padding: 20px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.world-widget h5 {
  color: #c7c7c7;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 14px;
}

.world-widget h2 {
  margin-bottom: 0px;
  font-size: 24px;
}

.icon {
  width: 3rem;
  height: 3rem;
  max-width: 100%;
  flex: 0 0 auto;
  margin-right: 15px;
  display: inline-flex;
  padding: 7px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.icon i,
.icon svg {
  font-size: 20px;
  color: #fff;
}





.news {
  background-color: #393e46;
  padding: 20px 20px;
  border-radius: 5px;
}

.news-title {
  height: 2rem;
  display: flex;
  line-height: 2rem;

}

.icon1 {
  width: 2rem;
  height: 2rem;
  max-width: 100%;
  flex: 0 0 auto;
  margin-right: 15px;
  display: inline-flex;
  padding: 7px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.news-title h2 {
  font-size: 25px;
}

.news-content {
  padding: 20px 0 0 0;
}

.news-time {
  color: rgb(252, 252, 252, .5);
  font-size: 20px;
}
.news-content{
  height: 400px;
}

.newsdata {
  color: rgb(252, 252, 252, .7);
  background-color: #2f3238;
  padding: 10px;
  margin: 10px;
  border-radius: 7px;
}

.news-time{
  font-weight: bold;
  color: rgb(0, 160, 0) !important;
  font-size: 15px;
  padding-bottom: 5px;
  color: rgb(228, 228, 228);
}
.mapsvg{
  stroke: rgb(88, 88, 88);
  stroke-width: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#svg2{
  min-height: 70vh;
  max-height: 85vh;
}
.map-legend{
  position: absolute;
  bottom: 10px;
  right: 50px;
  width: 100px;
}
.legend-bar{
  width: 100%;
  height: 10px;
  background: -webkit-linear-gradient(to right, #47FF00, #FFF600,#FFAF00, #FF6900, #FF2300, #FF0000);
  background: linear-gradient(to right, #47FF00, #FFF600,#FFAF00, #FF6900, #FF2300, #FF0000);
}

@media (max-width: 768px){
  .mapsvg{
    margin-top: 20px;
  }
}