/* You can add global styles to this file, and also import other style files */

/* var(--cone) */
:root {
  --bg: #222831; /* var(--bg) */
  --cone: #393e46; /* var(--cone) */
  --ctwo: #2F3238; /* var(--ctwo) */
  --white: white; /* var(--white) */
}

html,
body {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--bg) !important;
  font-family: 'poppins';
}

.dashboard {
  height: calc(100vh - 65px);
  margin-top: 65px;
  color: white;
}



.gif {
  height: 50px;
  width: 50px;
  background-size: cover;
}

.dash-section {
  padding: 10px 4% 25px 4%;
}



.lastupdate {
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.lastupdate span {
  color: rgb(0, 161, 0);
  font-weight: bold;
  /* font-style: italic; */
}

.gradient-1 {
  background: #3398fb;
  background: -moz-linear-gradient(left, #3398fb 0%, #8553ee 100%);
  background: -webkit-linear-gradient(left, #3398fb 0%, #8553ee 100%);
  background: linear-gradient(to right, #3398fb 0%, #8553ee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3398fb', endColorstr='#8553ee', GradientType=1);
}

.gradient-2 {
  background: #36e1b4;
  background: -moz-linear-gradient(left, #36e1b4 0%, #11cae7 100%);
  background: -webkit-linear-gradient(left, #36e1b4 0%, #11cae7 100%);
  background: linear-gradient(to right, #36e1b4 0%, #11cae7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#36e1b4', endColorstr='#11cae7', GradientType=1);
}

.gradient-3 {
  background: #ffbf31;
  background: -moz-linear-gradient(left, #ffbf31 0%, #ff890e 100%);
  background: -webkit-linear-gradient(left, #ffbf31 0%, #ff890e 100%);
  background: linear-gradient(to right, #ffbf31 0%, #ff890e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbf31', endColorstr='#ff890e', GradientType=1);
}

.gradient-4 {
  background: #23bdb8;
  background: -moz-linear-gradient(-45deg, #23bdb8 0%, #43e794 100%);
  background: -webkit-linear-gradient(-45deg, #23bdb8 0%, #43e794 100%);
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#23bdb8', endColorstr='#43e794', GradientType=1);
}

.gradient-5 {
  background: #9a56ff;
  background: -moz-linear-gradient(-45deg, #9a56ff 0%, #e36cd9 100%);
  background: -webkit-linear-gradient(-45deg, #9a56ff 0%, #e36cd9 100%);
  background: linear-gradient(135deg, #9a56ff 0%, #e36cd9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9a56ff', endColorstr='#e36cd9', GradientType=1);
}

.gradient-6 {
  background: #f48665;
  background: -moz-linear-gradient(-45deg, #f48665 0%, #fda23f 100%);
  background: -webkit-linear-gradient(-45deg, #f48665 0%, #fda23f 100%);
  background: linear-gradient(135deg, #f48665 0%, #fda23f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f48665', endColorstr='#fda23f', GradientType=1);
}

.gradient-7 {
  background: #e36cd9;
  background: -moz-linear-gradient(-45deg, #e36cd9 0%, #fe60ae 100%);
  background: -webkit-linear-gradient(-45deg, #e36cd9 0%, #fe60ae 100%);
  background: linear-gradient(135deg, #e36cd9 0%, #fe60ae 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e36cd9', endColorstr='#fe60ae', GradientType=1);
}

.gradient-8 {
  background: #a15cff;
  background: -moz-linear-gradient(left, #a15cff 0%, #ce82fd 100%);
  background: -webkit-linear-gradient(left, #a15cff 0%, #ce82fd 100%);
  background: linear-gradient(to right, #a15cff 0%, #ce82fd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a15cff', endColorstr='#ce82fd', GradientType=1);
}

.gradient-9 {
  background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}

.gradient-10 {
  background: linear-gradient(87deg, #11cdef 0, #1171ef 100%) !important;
}

.gradient-11 {
  background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%) !important;
}

.gradient-12 {
  background: linear-gradient(87deg, #942c14 0, #e60c0c 100%) !important;
}

.gradient-13 {
  background: #000428;
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  background: linear-gradient(to right, #004e92, #000428);
}

.gradient-14 {
  background: #DA4453;
  background: -webkit-linear-gradient(to right, #89216B, #DA4453);
  background: linear-gradient(to right, #89216B, #DA4453);
}

.gradient-15 {
  background: #8E2DE2;
  background: -webkit-linear-gradient(to left, #4A00E0, #8E2DE2);
  background: linear-gradient(to left, #4A00E0, #8E2DE2);
}

.gradient-16 {
  background: #11998e;
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
  background: linear-gradient(to right, #38ef7d, #11998e);
}


.world-chart {
  margin-bottom: 30px;
}

.world-widget {
  background-color: var(--cone);
  padding: 20px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.world-widget h5 {
  color: #c7c7c7;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 14px;
}

.world-widget h2 {
  margin-bottom: 0px;
  font-size: 24px;
}

.icon {
  width: 3rem;
  height: 3rem;
  max-width: 100%;
  flex: 0 0 auto;
  margin-right: 15px;
  display: inline-flex;
  padding: 7px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.icon i,
.icon svg {
  font-size: 20px;
  color: #fff;
}


.dis {
  background-color: var(--cone);
  padding: 20px 20px;
  border-radius: 5px;
}

.dis-section {
  margin: 0px 15px;
}

.diswise-title {
  min-height: calc(1.5em + .75rem + 2px);
  line-height: calc(1.5em + .75rem + 2px);
  font-size: 20px;
  font-family: 'poppins';
}



.news {
  background-color: var(--cone);
  padding: 20px 20px;
  border-radius: 5px;
}

.news-section {
  margin: 0px 15px;
}


.news-title {
  height: 2rem;
  display: flex;
  line-height: 2rem;

}

.icon1 {
  width: 2rem;
  height: 2rem;
  max-width: 100%;
  flex: 0 0 auto;
  margin-right: 15px;
  display: inline-flex;
  padding: 7px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.news-title h2 {
  font-size: 25px;
}

.news-content {
  padding: 20px 0 0 0;
}

.news-time {
  font-size: 20px;
}

.news-content {
  height: 430px;
}

.newsdata {
  color: rgb(252, 252, 252, .7);
  background-color: var(--ctwo);
  padding: 10px;
  margin: 10px;
  border-radius: 7px;
}

.news-time {
  font-weight: bold;
  color: rgb(0, 160, 0) !important;
  font-size: 15px;
  padding-bottom: 5px;
  color: rgb(228, 228, 228);
}

.mapsvg {
  stroke: rgb(88, 88, 88);
  stroke-width: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#svg2 {
  min-height: 600px;
  max-height: 600px;
}

#svg2 path:hover {
  fill: #FF4600 !important;
  transition: fill .2s ease-in-out;
}

.map-legend {
  position: absolute;
  bottom: 10px;
  right: 50px;
  width: 150px;
}

.legend-bar {
  width: 100%;
  height: 10px;
  background: -webkit-linear-gradient(to right, #47FF00, #FFF600, #FFAF00, #FF6900, #FF2300, #FF0000);
  background: linear-gradient(to right, #47FF00, #FFF600, #FFAF00, #FF6900, #FF2300, #FF0000);
}

.select select {
  width: 100%;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  outline: 0;
  background-color: var(--cone);
  border-radius: 5px;
  border: 0;
  color: white;

}

.select select option {
  border: 0 !important;
  outline: 0 !important;
  height: 10px;
}


.day-wise {
  background-color: var(--cone);
  padding: 20px 20px;
  border-radius: 5px;
}

.day-wise .ngb-dp-header {
  background-color: var(--ctwo);
}

.day-wise .btn-light {
  color: rgb(182, 182, 182)
}

.day-wise .ngb-dp-weekdays {
  background-color: var(--ctwo);
}

.day-wise .form-control {
  background-color: var(--ctwo) !important;
  outline: 0 !important;
  box-shadow: none !important;
  border: 0 !important;
  height: 44px;
  cursor: pointer;
  color: rgb(224, 224, 224) !important;
}

.daywise-title {
  min-height: calc(1.5em + .75rem + 2px);
  line-height: calc(1.5em + .75rem + 2px);
  font-size: 20px;
  font-family: 'poppins';
}

.day-wise .dropdown-menu {
  background-color: var(--ctwo) !important;
  color: white !important;
}

.day-wise .ngb-dp-weekday {
  color: #dddddd !important;
}

/* background: #fff url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e) right .75rem center/8px 10px no-repeat; */

.day-wise .custom-select {
  background: var(--cone);
  box-shadow: none !important;
  border: 0 !important;
  color: #d1d1d1;
  margin-right: 5px;
}

.day-wise .btn-light:hover {
  color: rgb(0, 0, 0)
}

.day-wise button {
  background-color: var(--ctwo) !important;
  outline: 0 !important;
  box-shadow: none !important;
  border: 0 !important;
}




/* .datatable{
  margin: 20px 5% 10px 5%;;
  background-color: var(--cone);
  padding: 20px;
  border-radius: 5px;

} */

.day-wise table {
  border: 1px solid rgb(122, 122, 122);
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.day-wise .day-table {
  margin-top: 20px;
}

.day-wise table tr {
  background-color: transparent;
  border: 1px solid rgb(119, 119, 119);
  padding: .35em;
}

.day-wise thead th {
  color: #FCFCFCB3;
}

.day-wise table th,
table td {
  padding: .625em;
  text-align: center;
}

.day-wise table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 11920px) {
  .day-wise table {
    border: 0;
  }

  .day-wise table caption {
    font-size: 1.3em;
  }

  .day-wise table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .day-wise table tr {
    display: block;
    margin-bottom: .625em;
  }

  .day-wise table td {
    border-bottom: 1px solid rgb(119, 119, 119) !important;
    display: block;
    font-size: .8em;
    text-align: right;
  }


  .day-wise table td[data-label="Tested"] {
    border-bottom: none !important;
  }

  .day-wise table td::before {
    content: attr(data-label);
    float: left;
    color: rgb(170, 170, 170);
    font-weight: bold;
    text-transform: uppercase;
  }
}


/* diswise table */
.dis select {
  background-color: var(--ctwo) !important;

}

.dis-table table {
  border: 1px solid rgb(122, 122, 122);
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.dis-table .day-table {
  margin-top: 20px;
}

.dis-table table tr {
  background-color: transparent;
  border: 1px solid rgb(119, 119, 119);
  padding: .35em;
}

.dis-table thead th {
  color: #FCFCFCB3;
}

.dis-table table th,
table td {
  padding: .625em;
  text-align: center;
}

.dis-table table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.dis-table .disTable-title {
  font-size: 17px;
}

@media screen and (max-width: 11920px) {
  .dis-table table {
    border: 0;
  }

  .dis-table table caption {
    font-size: 1.3em;
  }

  .dis-table table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .dis-table table tr {
    display: block;
    margin-bottom: .625em;
  }

  .dis-table table td {
    border-bottom: 1px solid rgb(119, 119, 119) !important;
    display: block;
    font-size: .8em;
    text-align: right;
  }


  .dis-table table td:last-child {
    border-bottom: none !important;
  }

  .dis-table table td::before {
    content: attr(data-label);
    float: left;
    color: rgb(170, 170, 170);
    font-weight: bold;
    text-transform: uppercase;
  }
}

/* ================== */






@media screen and (max-width: 1190px) {
  .col-md-6 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .mapsvg {
    margin-top: 20px;
  }

  #svg2 {
    min-height: 60vh;
    max-height: 75vh;
  }

  .news-section {
    margin-top: 20px;
  }

  .cntry {
    margin-top: 20px;
  }

}











#svg3 {
  min-height: 500px;
  max-height: 500px;
  fill: #00FF00 !important;
  stroke: #ffffff;

}

.legend-bar1 {
  margin-bottom: 15px;
  width: 100%;
  height: 10px;
  background: -webkit-linear-gradient(to left, #FF0000, #FF1100, #FF2300, #FF5700, #FF6900, #FF7B00, #FF8C00, #FF9E00, #FFD300, #FFE400, #FFF600, #F7FF00, #E5FF00, #D4FF00, #C2FF00, #B0FF00, #9FFF00, #8DFF00, #7CFF00, #6AFF00, #47FF00, #35FF00, #24FF00, #00FF00);
  background: linear-gradient(to left, #FF0000, #FF1100, #FF2300, #FF5700, #FF6900, #FF7B00, #FF8C00, #FF9E00, #FFD300, #FFE400, #FFF600, #F7FF00, #E5FF00, #D4FF00, #C2FF00, #B0FF00, #9FFF00, #8DFF00, #7CFF00, #6AFF00, #47FF00, #35FF00, #24FF00, #00FF00);
}

.world-table {
  height: 100px;
}

.continent {
  background-color: var(--cone);
  padding: 20px 20px;
  border-radius: 5px;
}

.cntnt-section {
  margin: 0px 15px;
}

.cntntwise-title {
  min-height: calc(1.5em + .75rem + 2px);
  line-height: calc(1.5em + .75rem + 2px);
  font-size: 20px;
  font-family: 'poppins';
}

.continent select {
  background-color: var(--ctwo) !important;

}

.cntnt-table table {
  border: 1px solid rgb(122, 122, 122);
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.cntnt-table .day-table {
  margin-top: 20px;
}

.cntnt-table table tr {
  background-color: transparent;
  border: 1px solid rgb(119, 119, 119);
  padding: .35em;
}

.cntnt-table thead th {
  color: #FCFCFCB3;
}

.cntnt-table table th,
table td {
  padding: .625em;
  text-align: center;
}

.cntnt-table table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.cntnt-table .cntnt-title {
  font-size: 17px;
}

@media screen and (max-width: 11920px) {
  .cntnt-table table {
    border: 0;
  }

  .cntnt-table table caption {
    font-size: 1.3em;
  }

  .cntnt-table table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .cntnt-table table tr {
    display: block;
    margin-bottom: .625em;
  }

  .cntnt-table table td {
    border-bottom: 1px solid rgb(119, 119, 119) !important;
    display: block;
    font-size: .8em;
    text-align: right;
  }


  .cntnt-table table td:last-child {
    border-bottom: none !important;
  }

  .cntnt-table table td::before {
    content: attr(data-label);
    float: left;
    color: rgb(170, 170, 170);
    font-weight: bold;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1190px) {
  #svg3 {
    min-height: 300px;
    max-height: 530vh;

  }
}

#about .ng-scroll-content { 
  display: block !important;
  min-width: 100%;
  position: relative!important;
}

.abt-content {
  margin-top: 30px;
  font-family: 'poppins';
}

.faqs {
  min-height: 600px;
}



.world-widget2 {
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.world-widget2 h2 {
  margin-bottom: 0px;
  font-size: 24px;
}
.world-widget1 {
  background-color: var(--ctwo);
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.world-widget1 h5 {
  color: #c7c7c7;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 16px;
}
.world-widget1 p {
  color: #fdfdfd;
  padding-left: 15px;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 17px;

}
.world-widget3 {
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.world-widget3 h5 {
  color: #c7c7c7;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 18px;
}
.world-widget3 p {
  color: #fdfdfd;
  font-weight: normal;
  font-size: 19px;

}
.world-widget3 p a{
  color: #fdfdfd !important;
  font-weight: normal !important;
  font-size: 19px !;

}

.disclaimer{
  padding: 15px;
  font-size: 18px;
}


@media screen and (max-width: 768px) {
  .world-widget1 h5 {
    font-size: 15px;
  }
  .world-widget1 p {
    font-size: 16px;
  
  }
  .world-widget3 h5 {
    font-size: 15px;
  }
  .world-widget3 p {
    font-size: 16px;
  
  }
}








.selection_active[_ngcontent-doe-c110] span[_ngcontent-doe-c110] {
  color: white;
}

.selection_active span {
  color: white;
}


.spinner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: calc(100vh - 65px);
  width: 100vw;
  margin-top: 65px;
  background-color: rgba(51, 51, 51, 0.99);
  display: flex;
  justify-content: center;
  align-items: center;
}


.loader-7 {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle; }
  .loader-7 .line {
    width: 8px;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#158df7), to(#fb2e63));
    background: linear-gradient(to bottom, #158df7, #fb2e63); }
  .loader-7 .line1 {
    left: 0;
    -webkit-animation: line-grow 0.5s ease alternate infinite;
            animation: line-grow 0.5s ease alternate infinite; }
  .loader-7 .line2 {
    left: 20px;
    -webkit-animation: line-grow 0.5s 0.2s ease alternate infinite;
            animation: line-grow 0.5s 0.2s ease alternate infinite; }
  .loader-7 .line3 {
    left: 40px;
    -webkit-animation: line-grow 0.5s 0.4s ease alternate infinite;
            animation: line-grow 0.5s 0.4s ease alternate infinite; }

@-webkit-keyframes line-grow {
  0% {
    height: 0; }
  100% {
    height: 75%; } }

@keyframes line-grow {
  0% {
    height: 0; }
  100% {
    height: 75%; } }



.loader-box .loader-7 {
    border: 0 solid transparent;
    border-radius: 50%;
    position: relative; }
    .loader-box .loader-7:before, .loader-box .loader-7:after {
      content: '';
      border: 0.2em solid #158df7;
      border-radius: 50%;
      width: inherit;
      height: inherit;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-animation: loader-07 1s linear infinite;
              animation: loader-07 1s linear infinite;
      opacity: 0; }
    .loader-box .loader-7:before {
      -webkit-animation-delay: 1s;
              animation-delay: 1s; }
    .loader-box .loader-7:after {
      -webkit-animation-delay: .5s;
              animation-delay: .5s; }

@-webkit-keyframes loader-07 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes loader-07 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }
  .loader-box .loader-8 {
    position: relative; }
    .loader-box .loader-8:before, .loader-box .loader-8:after {
      content: '';
      width: inherit;
      height: inherit;
      border-radius: 50%;
      background-color: #fb2e63;
      opacity: 0.6;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-animation: loader-08 2.0s infinite ease-in-out;
              animation: loader-08 2.0s infinite ease-in-out; }